.profile-icon3 {
  position: absolute;
  height: 0.81%;
  width: 2.81%;
  top: 8.13%;
  right: 12.18%;
  bottom: 91.06%;
  left: 85.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.status-icon3 {
  position: absolute;
  top: 462.3px;
  left: 2004.7px;
  width: 88.6px;
  height: 18px;
}
.check-out-child,
.check-out-item {
  position: absolute;
  top: 176px;
  left: 159px;
  width: 794px;
  height: 829px;
}
.check-out-item {
  left: 965px;
}
.line-22-stroke17,
.line-22-stroke18 {
  position: absolute;
  top: 261px;
  left: 159px;
  width: 794px;
  height: 3px;
}
.line-22-stroke18 {
  left: 965px;
}
.line-22-stroke19 {
  position: absolute;
  top: 306px;
  left: 1022px;
  border-radius: var(--br-xl);
  width: 680px;
  height: 76px;
}
.line-22-stroke20,
.line-22-stroke21,
.line-22-stroke22,
.line-22-stroke23,
.line-22-stroke24 {
  position: absolute;
  top: 397px;
  left: 1022px;
  border-radius: var(--br-xl);
  width: 680px;
  height: 76px;
}
.line-22-stroke21,
.line-22-stroke22,
.line-22-stroke23,
.line-22-stroke24 {
  top: 488px;
}
.line-22-stroke22,
.line-22-stroke23,
.line-22-stroke24 {
  top: 581px;
}
.line-22-stroke23,
.line-22-stroke24 {
  top: 733px;
}
.line-22-stroke24 {
  top: 832px;
}
.line-22-stroke25 {
  position: absolute;
  top: 793px;
  left: 258px;
  width: 595px;
  height: 3px;
}
.check-out-inner,
.image-2-icon {
  position: absolute;
  top: -92px;
  left: -154px;
  width: 2182px;
  height: 200px;
}
.image-2-icon {
  top: 12px;
  left: 31px;
  width: 139px;
  height: 88px;
  object-fit: cover;
}
.multiply-icon,
.your-paragraph-text-3-1 {
  position: absolute;
  top: 45px;
  left: 166px;
  width: 26px;
  height: 23px;
  object-fit: cover;
}
.your-paragraph-text-3-1 {
  top: 33px;
  left: 204px;
  width: 93px;
  height: 46px;
}
.component-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background: linear-gradient(269.84deg, #6ac5bc, #8fcda2);
}
.buy20 {
  position: absolute;
  top: 31.25%;
  left: 30%;
  letter-spacing: 0.05em;
}
.component-1 {
  position: absolute;
  top: 33px;
  left: 1717px;
  width: 140px;
  height: 48px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.itranslate-icon7,
.shopping-cart-icon {
  position: absolute;
  top: 33px;
  left: 1645px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.itranslate-icon7 {
  left: 1277px;
}
.search-icon8 {
  position: absolute;
  top: 34px;
  left: 1350px;
  width: 264px;
  height: 48px;
}
.back-to-store3,
.check-out-child1 {
  position: absolute;
  top: 1089px;
  left: 0;
  width: 1920px;
  height: 460px;
}
.back-to-store3 {
  top: 139px;
  left: 77px;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-weight: 600;
  color: var(--color-darkslateblue);
  display: inline-block;
  width: 142px;
  height: 19px;
}
.left-arrow-icon {
  position: absolute;
  top: 137px;
  left: 61px;
  width: 24px;
  height: 23px;
  object-fit: cover;
}
.order-review1 {
  position: absolute;
  top: 205px;
  left: 395px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 335px;
  height: 44px;
}
.payment-method1 {
  top: 205px;
  left: 1194px;
  width: 335px;
}
.confirm-and-continue1,
.pay-by-card1,
.payment-method1 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
  height: 44px;
}
.confirm-and-continue1 {
  top: 851px;
  left: 1172px;
  font-weight: 500;
  color: var(--color-white);
  width: 379px;
}
.pay-by-card1 {
  top: 674px;
  left: 1247px;
  color: var(--color-gray-100);
  width: 230px;
}
.show-more1 {
  top: 597px;
  left: 1194px;
  width: 335px;
  height: 44px;
}
.add-new-card1,
.div29,
.div30,
.go-rocket-box4,
.show-more1 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.add-new-card1 {
  top: 749px;
  left: 1194px;
  width: 359px;
  height: 44px;
}
.div29,
.div30,
.go-rocket-box4 {
  left: 447px;
  text-align: left;
}
.go-rocket-box4 {
  top: 350px;
  font-family: var(--font-istok-web);
  width: 391px;
  height: 47px;
}
.div29,
.div30 {
  top: 644px;
  font-size: var(--font-size-5xl);
  width: 132px;
  height: 29px;
}
.div30 {
  top: 397px;
}
.image-36-icon2 {
  position: absolute;
  top: 316px;
  left: 219px;
  width: 185px;
  height: 211px;
  object-fit: cover;
}
.wonder-ticket4 {
  position: absolute;
  top: 599px;
  left: 447px;
  letter-spacing: 0.05em;
  display: inline-block;
  font-family: var(--font-istok-web);
  text-align: left;
  width: 274px;
  height: 45px;
}
.image-34-icon2,
.xbox-x-icon,
.xbox-x-icon1 {
  position: absolute;
  top: 577px;
  left: 219px;
  width: 185px;
  height: 216px;
  object-fit: cover;
}
.xbox-x-icon,
.xbox-x-icon1 {
  top: 357px;
  left: 705px;
  width: 32px;
  height: 28px;
}
.xbox-x-icon1 {
  top: 606px;
  left: 693px;
}
.subtotal2 {
  position: absolute;
  top: 817px;
  left: 258px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.05em;
  text-align: left;
  display: inline-block;
  width: 206px;
  height: 30px;
}
.div31 {
  top: 817px;
}
.div31,
.div32,
.div33,
.voucher-discount2 {
  position: absolute;
  left: 647px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.05em;
  text-align: right;
  display: inline-block;
  width: 206px;
  height: 30px;
}
.div32 {
  top: 859px;
  color: var(--color-olivedrab);
}
.div33,
.voucher-discount2 {
  top: 901px;
}
.voucher-discount2 {
  top: 859px;
  left: 258px;
  text-align: left;
  width: 226px;
}
.items2 {
  color: var(--color-gray-200);
}
.total-2-items-container2 {
  position: absolute;
  top: 901px;
  left: 258px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.05em;
  text-align: left;
  display: inline-block;
  width: 226px;
  height: 30px;
}
.paypal-1-icon {
  position: absolute;
  top: 315px;
  left: 1242px;
  width: 268px;
  height: 57px;
  object-fit: cover;
}
.forward-icon1,
.image-41-icon,
.image-42-icon {
  position: absolute;
  top: 404px;
  left: 1261px;
  width: 229px;
  height: 61px;
  object-fit: cover;
}
.forward-icon1,
.image-42-icon {
  top: 488px;
  left: 1280px;
  width: 163px;
  height: 78px;
}
.forward-icon1 {
  top: 853px;
  left: 1553px;
  width: 39px;
  height: 34px;
}
.check-out1 {
  position: absolute;
  top: 44px;
  left: calc(50% - 127px);
  font-size: var(--font-size-6xl);
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  width: 255px;
}
.loyalty-card-icon2 {
  position: absolute;
  top: 854px;
  left: 478px;
  width: 50px;
  height: 40px;
  object-fit: cover;
}
.check-out {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1549px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
