.profile-icon2 {
  position: absolute;
  height: 0.81%;
  width: 2.81%;
  top: 8.13%;
  right: 12.18%;
  bottom: 91.06%;
  left: 85.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.status-icon1 {
  position: absolute;
  top: 462.3px;
  left: 2004.7px;
  width: 88.6px;
  height: 18px;
}
.offer-redemption-child {
  position: absolute;
  top: calc(50% - 598.5px);
  left: calc(50% - 795px);
  width: 1589px;
  height: 829px;
}
.line-22-stroke10,
.line-22-stroke11 {
  position: absolute;
  top: calc(50% - 480.5px);
  left: calc(50% - 377px);
  border-radius: var(--br-xl);
  width: 753px;
  height: 409px;
}
.line-22-stroke11 {
  top: calc(50% - 12.5px);
  left: calc(50% - 340px);
  width: 680px;
  height: 76px;
}
.apply {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% + 10.5px);
  left: calc(50% - 312px);
  letter-spacing: 0.05em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 173px;
  height: 29px;
}
.offer-redemption-item {
  position: absolute;
  top: 1089px;
  left: 0;
  width: 1920px;
  height: 460px;
}
.back-to-store1,
.left-arrow1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.back-to-store1 {
  top: 139px;
  left: 77px;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 19px;
}
.left-arrow1 {
  top: 137px;
  left: 61px;
  width: 24px;
  height: 23px;
  background-image: url(./public/left-arrow@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.level-02 {
  position: absolute;
  top: calc(50% - 147.5px);
  left: calc(50% - 95px);
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  width: 197px;
  height: 31px;
}
.enter-offer-code {
  top: calc(50% - 56.5px);
  left: calc(50% - 330px);
  font-size: var(--font-size-13xl);
  font-weight: 600;
  text-align: left;
  width: 415px;
  height: 44px;
}
.apply1,
.enter-offer-code,
.note-that-some {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.note-that-some {
  top: calc(50% + 93.5px);
  left: calc(50% - 379px);
  font-weight: 200;
  width: 759px;
  height: 104px;
}
.apply1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 11.5px);
  left: calc(50% + 141px);
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: right;
  width: 173px;
  height: 29px;
}
.hojii14-icon1,
.offer-redemption-inner {
  position: absolute;
  top: calc(50% - 434.5px);
  left: calc(50% - 122px);
  width: 243px;
  height: 227px;
}
.hojii14-icon1 {
  top: calc(50% - 198.5px);
  left: calc(50% - 85px);
  width: 169.8px;
  height: 46.7px;
}
.frame-child22 {
  width: 266px;
  position: relative;
  height: 88px;
}
.component-4-child14 {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background: linear-gradient(269.84deg, #6ac5bc, #8fcda2);
}
.buy18,
.component-4-child14,
.component-418 {
  position: absolute;
  cursor: pointer;
}
.buy18 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 31.25%;
  left: 30%;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-418 {
  top: 0;
  left: 440px;
  width: 140px;
  height: 48px;
}
.itranslate-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.search-icon5 {
  top: 1px;
  left: 73px;
  width: 264px;
  height: 48px;
}
.cart5,
.frame28,
.search-icon5 {
  position: absolute;
}
.cart5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 351px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-royalblue);
  text-align: center;
  display: inline-block;
}
.frame28 {
  top: 0;
  left: 0;
  width: 426px;
  height: 50px;
  overflow: hidden;
}
.component-4-parent14 {
  width: 580px;
  position: relative;
  height: 50px;
}
.group-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-961xl);
}
.navbar5,
.offer-redemption1 {
  background-color: var(--color-white);
}
.navbar5 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-24xl);
  box-sizing: border-box;
}
.offer-redemption1 {
  width: 100%;
  position: relative;
  height: 1549px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
