.status-icon1 {
  position: absolute;
  top: 462.3px;
  left: 2004.7px;
  width: 88.6px;
  height: 18px;
}
.cart-done-child,
.cart-done-inner,
.cart-done-item {
  position: absolute;
  top: 176px;
  left: 159px;
  width: 794px;
  height: 829px;
}
.cart-done-inner,
.cart-done-item {
  left: 965px;
  height: 552px;
}
.cart-done-inner {
  top: 754px;
  height: 251px;
}
.line-22-stroke17,
.line-22-stroke18 {
  position: absolute;
  top: 261px;
  left: 159px;
  width: 794px;
  height: 3px;
}
.line-22-stroke18 {
  left: 965px;
}
.line-22-stroke19 {
  position: absolute;
  top: 603px;
  left: 1022px;
  border-radius: var(--br-xl);
  width: 680px;
  height: 76px;
  cursor: pointer;
}
.group-child21,
.line-22-stroke20 {
  position: absolute;
  top: 539px;
  left: 255px;
  width: 595px;
  height: 3px;
}
.group-child21 {
  top: 0;
  left: 0;
  width: 1920px;
  height: 460px;
}
.vector-icon6,
.vector-icon7 {
  position: absolute;
  top: 2.8px;
  left: 87.8px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon7 {
  top: 2.9px;
  left: 81.4px;
  width: 6.4px;
  height: 6.5px;
}
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 0.3px;
  left: 79.1px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon9 {
  top: 0.7px;
  left: 73px;
  width: 5.4px;
  height: 8.7px;
}
.vector-icon10,
.vector-icon11 {
  position: absolute;
  top: 0.6px;
  left: 61.4px;
  width: 8px;
  height: 9px;
}
.vector-icon11 {
  left: 52.9px;
  width: 7.8px;
}
.vector-icon12,
.vector-icon13 {
  position: absolute;
  top: 2.8px;
  left: 43.7px;
  width: 5.7px;
  height: 6.6px;
}
.vector-icon13 {
  left: 36.6px;
  width: 6.3px;
  height: 6.8px;
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  top: 2.8px;
  left: 26.6px;
  width: 9.2px;
  height: 6.6px;
}
.vector-icon15 {
  top: 0;
  left: 19.7px;
  width: 6.1px;
  height: 9.5px;
}
.vector-icon16,
.vector-icon17 {
  position: absolute;
  top: 0.7px;
  left: 13.9px;
  width: 6px;
  height: 8.7px;
}
.vector-icon17 {
  top: 2.8px;
  left: 6.8px;
  width: 6.3px;
  height: 6.8px;
}
.pokmon-go-live,
.vector-icon18 {
  position: absolute;
  top: 0.7px;
  left: 0;
  width: 6.3px;
  height: 8.7px;
}
.pokmon-go-live {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 41.6px;
  left: 472.9px;
  width: 93.9px;
  height: 9.5px;
}
.pokmon-go-is-playable-in-engl {
  position: absolute;
  top: 304.6px;
  left: 609.5px;
  width: 696.6px;
  height: 26.9px;
}
.niantic-inc-2023-pokmon,
.vector-icon19 {
  position: absolute;
  top: 362.6px;
  left: 594.2px;
  width: 727.3px;
  height: 56.9px;
}
.vector-icon19 {
  top: 0.7px;
  left: 39.4px;
  width: 3.9px;
  height: 8.2px;
}
.vector-icon20,
.vector-icon21 {
  position: absolute;
  top: 2.2px;
  left: 35.3px;
  width: 3.7px;
  height: 6.6px;
}
.vector-icon21 {
  left: 28.2px;
  width: 6.3px;
  height: 6.8px;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  top: 2.2px;
  left: 21.4px;
  width: 6.2px;
  height: 9.1px;
}
.vector-icon23,
.vector-icon24 {
  left: 14.4px;
}
.vector-icon24 {
  top: 2.3px;
  left: 7.6px;
  width: 5.7px;
  height: 6.6px;
}
.support,
.vector-icon25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.7px;
  height: 9px;
}
.support {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 42.2px;
  left: 627.5px;
  width: 43.3px;
  height: 11.3px;
}
.vector-icon26,
.vector-icon27 {
  position: absolute;
  top: 2.5px;
  left: 83.6px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon27 {
  left: 77.2px;
  width: 5.9px;
}
.vector-icon28,
.vector-icon29 {
  position: absolute;
  top: 0;
  left: 74.7px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon29 {
  top: 2.6px;
  left: 67.9px;
  width: 6.4px;
  height: 6.5px;
}
.vector-icon30,
.vector-icon31 {
  position: absolute;
  top: 2.5px;
  left: 63.9px;
  width: 3.7px;
  height: 6.6px;
}
.vector-icon31 {
  left: 57px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon32,
.vector-icon33 {
  position: absolute;
  top: 0.3px;
  left: 49.7px;
  width: 6.7px;
  height: 9px;
}
.vector-icon33 {
  top: 0;
  left: 42.9px;
  width: 4.2px;
  height: 9.1px;
}
.vector-icon34,
.vector-icon35 {
  position: absolute;
  top: 2.5px;
  left: 36.3px;
  width: 6.3px;
  height: 6.8px;
}
.vector-icon35 {
  left: 27.7px;
  width: 5.6px;
}
.vector-icon36,
.vector-icon37 {
  position: absolute;
  top: 2.5px;
  left: 17.7px;
  width: 9.2px;
  height: 6.6px;
}
.vector-icon37 {
  left: 13.4px;
  width: 3.7px;
}
.vector-icon38,
.vector-icon39 {
  position: absolute;
  top: 2.5px;
  left: 6.5px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon39 {
  top: 0.4px;
  left: 0;
  width: 7px;
  height: 8.7px;
}
.terms-of-service {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 249.9px;
  left: 748.5px;
  width: 89.7px;
  height: 9.3px;
}
.vector-icon40 {
  position: absolute;
  top: 2.6px;
  left: 67.2px;
  width: 6.4px;
  height: 9px;
}
.vector-icon41,
.vector-icon42 {
  position: absolute;
  top: 2.5px;
  left: 61px;
  width: 5.9px;
  height: 6.8px;
}
.vector-icon42 {
  top: 0;
  left: 58.5px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon43,
.vector-icon44 {
  position: absolute;
  top: 0.4px;
  left: 55.9px;
  width: 1.5px;
  height: 8.7px;
}
.vector-icon44 {
  top: 2.5px;
  left: 48.8px;
  width: 6.3px;
  height: 6.8px;
}
.vector-icon45,
.vector-icon46 {
  position: absolute;
  top: 2.5px;
  left: 42.1px;
  width: 6.2px;
  height: 9.1px;
}
.vector-icon46 {
  top: 2.6px;
  left: 32.6px;
  width: 6.4px;
  height: 9px;
}
.vector-icon47,
.vector-icon48,
.vector-icon49 {
  position: absolute;
  top: 2.5px;
  left: 26.4px;
  width: 5.9px;
  height: 6.8px;
}
.vector-icon48,
.vector-icon49 {
  left: 20px;
  width: 5.6px;
}
.vector-icon49 {
  top: 2.6px;
  left: 13.5px;
  width: 6.4px;
  height: 6.5px;
}
.vector-icon50,
.vector-icon51 {
  position: absolute;
  top: 0;
  left: 11.3px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon51 {
  top: 2.5px;
  left: 7.1px;
  width: 3.7px;
  height: 6.6px;
}
.privacy-policy,
.vector-icon52 {
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 6.3px;
  height: 8.7px;
}
.privacy-policy {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 249.9px;
  left: 862.9px;
  width: 73.6px;
  height: 11.6px;
}
.vector-icon53 {
  position: absolute;
  top: 2.6px;
  left: 81.1px;
  width: 6.4px;
  height: 9px;
}
.vector-icon54,
.vector-icon55 {
  position: absolute;
  top: 2.5px;
  left: 74.9px;
  width: 5.9px;
  height: 6.8px;
}
.vector-icon55 {
  top: 0;
  left: 72.5px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon56,
.vector-icon57 {
  position: absolute;
  top: 0.4px;
  left: 69.9px;
  width: 1.5px;
  height: 8.7px;
}
.vector-icon57 {
  top: 2.5px;
  left: 62.8px;
  width: 6.3px;
  height: 6.8px;
}
.vector-icon58,
.vector-icon59 {
  position: absolute;
  top: 2.5px;
  left: 56.1px;
  width: 6.2px;
  height: 9.1px;
}
.vector-icon59 {
  top: 1px;
  left: 49px;
  width: 3.9px;
  height: 8.2px;
}
.vector-icon60,
.vector-icon61 {
  position: absolute;
  top: 0.4px;
  left: 42.6px;
  width: 5.8px;
  height: 8.7px;
}
.vector-icon61 {
  top: 2.5px;
  left: 35.3px;
  width: 6.2px;
  height: 9.2px;
}
.vector-icon62,
.vector-icon63 {
  position: absolute;
  top: 0;
  left: 32.8px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon63 {
  top: 2.5px;
  left: 28.7px;
  width: 3.7px;
  height: 6.6px;
}
.vector-icon64,
.vector-icon65 {
  position: absolute;
  top: 2.6px;
  left: 21.7px;
  width: 6.4px;
  height: 9px;
}
.vector-icon65 {
  top: 2.5px;
  left: 15.5px;
  width: 6.2px;
  height: 9.1px;
}
.vector-icon66,
.vector-icon67 {
  position: absolute;
  top: 2.5px;
  left: 8.3px;
  width: 6.3px;
  height: 6.8px;
}
.vector-icon67 {
  top: 0.3px;
  left: 0;
  width: 7.7px;
  height: 9px;
}
.copyright-policy {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 249.9px;
  left: 960.6px;
  width: 87.5px;
  height: 11.7px;
}
.vector-icon68,
.vector-icon69,
.vector-icon70 {
  position: absolute;
  top: 2.5px;
  left: 85.8px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon69,
.vector-icon70 {
  left: 79.2px;
  width: 6.1px;
}
.vector-icon70 {
  left: 72.6px;
  width: 5.7px;
  height: 6.6px;
}
.vector-icon71,
.vector-icon72 {
  position: absolute;
  top: 0;
  left: 69.9px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon72 {
  top: 0.4px;
  left: 67.3px;
  width: 1.5px;
  height: 8.7px;
}
.vector-icon73,
.vector-icon74 {
  position: absolute;
  top: 2.5px;
  left: 60.4px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon74 {
  top: 0.4px;
  left: 53.4px;
  width: 6.2px;
  height: 8.8px;
}
.vector-icon75,
.vector-icon76 {
  position: absolute;
  top: 0;
  left: 50.9px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon76 {
  top: 2.6px;
  left: 44.2px;
  width: 5.7px;
  height: 6.6px;
}
.vector-icon77,
.vector-icon78 {
  position: absolute;
  top: 0.3px;
  left: 35.4px;
  width: 7.8px;
  height: 9px;
}
.vector-icon78 {
  top: 2.5px;
  left: 28.8px;
  width: 3.7px;
  height: 6.6px;
}
.vector-icon79,
.vector-icon80 {
  position: absolute;
  top: 2.5px;
  left: 21.9px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon80 {
  top: 2.6px;
  left: 15.4px;
  width: 6.4px;
  height: 9px;
}
.vector-icon81,
.vector-icon82 {
  position: absolute;
  top: 2.5px;
  left: 9.5px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon82 {
  top: 0.4px;
  left: 7.1px;
  width: 1.5px;
  height: 8.7px;
}
.player-guidelines {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 249.9px;
  left: 1072.9px;
  width: 91.5px;
  height: 11.6px;
}
.vector-icon84,
.vector-icon85 {
  position: absolute;
  top: 0;
  left: 61.3px;
  width: 6.2px;
  height: 8.8px;
}
.vector-icon85 {
  top: 2.1px;
  left: 57.6px;
  width: 3.7px;
  height: 6.6px;
}
.vector-icon86,
.vector-icon87 {
  position: absolute;
  top: 2.1px;
  left: 50.8px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon87 {
  left: 44px;
  width: 6.3px;
}
.vector-icon88,
.vector-icon89 {
  position: absolute;
  top: 0;
  left: 37.3px;
  width: 6.2px;
  height: 8.8px;
}
.vector-icon89 {
  top: 2.1px;
  left: 33px;
  width: 3.7px;
  height: 6.6px;
}
.vector-icon90,
.vector-icon91 {
  position: absolute;
  top: 2.1px;
  left: 26.1px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon91 {
  top: 0;
  left: 19px;
  width: 6.2px;
  height: 8.8px;
}
.vector-icon92,
.vector-icon93 {
  position: absolute;
  top: 2.1px;
  left: 12.5px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon93 {
  left: 5.9px;
  width: 6.1px;
}
.leaderboard,
.vector-icon94 {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.4px;
  height: 8.7px;
}
.leaderboard {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 72.3px;
  left: 472.9px;
  width: 67.5px;
  height: 8.9px;
}
.vector-icon95 {
  position: absolute;
  top: 2.1px;
  left: 30.1px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon96,
.vector-icon97 {
  position: absolute;
  top: 0.6px;
  left: 25.9px;
  width: 3.9px;
  height: 8.2px;
}
.vector-icon97 {
  top: 2.1px;
  left: 19.5px;
  width: 5.7px;
  height: 6.6px;
}
.vector-icon98,
.vector-icon99 {
  position: absolute;
  top: 2.1px;
  left: 12.6px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon99 {
  top: 2.2px;
  left: 6.2px;
  width: 6.4px;
  height: 6.5px;
}
.events,
.vector-icon100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.7px;
  height: 8.7px;
}
.events {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 102.3px;
  left: 472.9px;
  width: 35.7px;
  height: 8.9px;
}
.vector-icon101 {
  position: absolute;
  top: 2.1px;
  left: 24.2px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon102,
.vector-icon103 {
  position: absolute;
  top: 2.2px;
  left: 14.4px;
  width: 9.5px;
  height: 6.5px;
}
.vector-icon103 {
  top: 2.1px;
  left: 8px;
  width: 6.1px;
  height: 6.8px;
}
.news,
.vector-icon104 {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.2px;
  height: 8.7px;
}
.news {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 132.3px;
  left: 472.9px;
  width: 29.8px;
  height: 8.9px;
}
.vector-icon105,
.vector-icon106 {
  position: absolute;
  top: 2.5px;
  left: 88.7px;
  width: 5.7px;
  height: 6.6px;
}
.vector-icon106 {
  left: 81.6px;
  width: 6.3px;
  height: 6.8px;
}
.vector-icon107,
.vector-icon108 {
  position: absolute;
  top: 0;
  left: 79.1px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon108 {
  top: 1px;
  left: 74.6px;
  width: 3.9px;
  height: 8.2px;
}
.vector-icon109,
.vector-icon110 {
  position: absolute;
  top: 2.5px;
  left: 68.1px;
  width: 6.2px;
  height: 9.1px;
}
.vector-icon110 {
  left: 57.8px;
  width: 9.2px;
  height: 6.6px;
}
.vector-icon111,
.vector-icon112 {
  position: absolute;
  top: 2.5px;
  left: 50.9px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon112 {
  top: 0.4px;
  left: 43.8px;
  width: 6.2px;
  height: 8.8px;
}
.vector-icon113,
.vector-icon114 {
  position: absolute;
  top: 2.5px;
  left: 37.2px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon114 {
  top: 0.4px;
  left: 30.3px;
  width: 6.7px;
  height: 8.7px;
}
.vector-icon115,
.vector-icon116 {
  position: absolute;
  top: 2.5px;
  left: 23.5px;
  width: 3.7px;
  height: 6.6px;
}
.vector-icon116 {
  left: 16.6px;
  width: 6.1px;
  height: 6.8px;
}
.vector-icon117,
.vector-icon118,
.vector-icon119 {
  position: absolute;
  top: 0;
  left: 12.5px;
  width: 4.2px;
  height: 9.1px;
}
.vector-icon118,
.vector-icon119 {
  left: 8.5px;
}
.vector-icon119 {
  top: 0.3px;
  left: 0;
  width: 8px;
  height: 9px;
}
.offer-redemption1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 71.9px;
  left: 627.6px;
  width: 94.4px;
  height: 11.6px;
}
.vector-icon120 {
  position: absolute;
  top: 2.5px;
  left: 105.5px;
  width: 6.2px;
  height: 9.1px;
}
.vector-icon121,
.vector-icon122 {
  position: absolute;
  top: 2.5px;
  left: 98.8px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon122 {
  top: 0.4px;
  left: 88.7px;
  width: 9.2px;
  height: 8.7px;
}
.vector-icon123,
.vector-icon124 {
  position: absolute;
  top: 2.6px;
  left: 79.2px;
  width: 6.4px;
  height: 9px;
}
.vector-icon124 {
  top: 2.5px;
  left: 73.3px;
  width: 5.6px;
  height: 6.8px;
}
.vector-icon125,
.vector-icon126 {
  position: absolute;
  top: 0.4px;
  left: 65.4px;
  width: 7.2px;
  height: 8.7px;
}
.vector-icon126 {
  top: 2.6px;
  left: 55.9px;
  width: 6.4px;
  height: 9px;
}
.vector-icon127,
.vector-icon128 {
  position: absolute;
  top: 1px;
  left: 51.8px;
  width: 3.9px;
  height: 8.2px;
}
.vector-icon128 {
  top: 0;
  left: 49.6px;
  width: 1.8px;
  height: 9.1px;
}
.vector-icon129,
.vector-icon130 {
  position: absolute;
  top: 2.5px;
  left: 42.9px;
  width: 5.7px;
  height: 6.6px;
}
.vector-icon130 {
  top: 2.6px;
  left: 36px;
}
.vector-icon131,
.vector-icon132 {
  position: absolute;
  top: 2.5px;
  left: 25.7px;
  width: 9.2px;
  height: 6.6px;
}
.vector-icon132 {
  left: 15.5px;
}
.community-day-map {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 101.9px;
  left: 627.6px;
  width: 111.6px;
  height: 11.6px;
}
.line-23-stroke,
.line-24-stroke {
  position: absolute;
  top: 230px;
  left: 472px;
  width: 970px;
  height: 1px;
}
.line-24-stroke {
  top: 277px;
}
.facebook-icon,
.image-21-icon,
.instagram-icon,
.tiktok-icon,
.youtube-icon {
  position: absolute;
  top: 180px;
  left: 871px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.facebook-icon,
.image-21-icon,
.instagram-icon,
.tiktok-icon {
  left: 920px;
}
.image-21-icon,
.instagram-icon,
.tiktok-icon {
  left: 969px;
}
.image-21-icon,
.tiktok-icon {
  left: 1018px;
}
.image-21-icon {
  top: 34px;
  left: 1395px;
  width: 52px;
  height: 60px;
}
.for-educational-purposes-only {
  position: absolute;
  top: 434.9px;
  left: 768.2px;
  width: 377.6px;
  height: 11.7px;
}
.vector-container {
  position: absolute;
  top: 1089px;
  left: 0;
  width: 1920px;
  height: 460px;
}
.back-to-store2,
.left-arrow1 {
  cursor: pointer;
  position: absolute;
}
.back-to-store2 {
  top: 139px;
  left: 77px;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-weight: 600;
  color: var(--color-darkslateblue);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 19px;
}
.left-arrow1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 137px;
  left: 61px;
  width: 24px;
  height: 23px;
  background-image: url(./public/left-arrow@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cart2 {
  top: 205px;
  left: 395px;
  text-align: center;
  width: 335px;
}
.cart2,
.enter-code-promo,
.order-summary,
.proceed-to-checkout {
  position: absolute;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.05em;
  display: inline-block;
  height: 44px;
}
.order-summary {
  top: 205px;
  left: 1194px;
  text-align: center;
  width: 335px;
}
.enter-code-promo,
.proceed-to-checkout {
  top: 807px;
  left: 1032px;
  font-weight: 600;
  width: 357px;
}
.proceed-to-checkout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 622px;
  left: 1172px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  width: 379px;
}
.line-22-stroke21 {
  position: absolute;
  top: 862px;
  left: 1022px;
  border-radius: var(--br-xl);
  width: 680px;
  height: 76px;
}
.apply,
.div26,
.div27,
.div28,
.go-rocket-box4 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.apply {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 878px;
  left: 1430px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: right;
  width: 248px;
  height: 44px;
}
.div26,
.div27,
.div28,
.go-rocket-box4 {
  left: 479px;
}
.go-rocket-box4 {
  top: 357px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-istok-web);
  width: 391px;
  height: 47px;
}
.div26,
.div27,
.div28 {
  top: 656px;
  font-size: var(--font-size-5xl);
  width: 132px;
  height: 29px;
}
.div27,
.div28 {
  top: 404px;
}
.div28 {
  top: 462px;
  left: 524px;
  font-size: var(--font-size-13xl);
  text-align: center;
  width: 41px;
  height: 33px;
}
.image-36-icon2 {
  position: absolute;
  top: 323px;
  left: 251px;
  width: 163px;
  height: 182px;
  object-fit: cover;
}
.wonder-ticket4 {
  position: absolute;
  top: 611px;
  left: 479px;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.05em;
  display: inline-block;
  font-family: var(--font-istok-web);
  width: 274px;
  height: 45px;
}
.image-34-icon2 {
  position: absolute;
  top: 577px;
  left: 251px;
  width: 185px;
  height: 216px;
  object-fit: cover;
}
.items2 {
  color: var(--color-gray-200);
}
.total-2-items-container2 {
  top: 472px;
  left: 1035px;
  width: 288px;
  height: 48px;
}
.div29,
.tax,
.total-2-items-container2 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.div29 {
  top: 472px;
  left: 1445px;
  text-align: right;
  width: 217px;
  height: 48px;
}
.tax {
  top: 417px;
  left: 1035px;
  width: 238px;
  height: 31px;
}
.div30,
.div31 {
  left: 1445px;
  text-align: right;
  width: 217px;
}
.div30 {
  position: absolute;
  top: 417px;
  letter-spacing: 0.05em;
  display: inline-block;
  height: 31px;
}
.div31 {
  top: 362px;
  color: var(--color-olivedrab);
}
.div31,
.div32,
.subtotal2,
.voucher-discount2 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
  height: 31px;
}
.div32 {
  top: 307px;
  left: 1445px;
  text-align: right;
  width: 217px;
}
.subtotal2,
.voucher-discount2 {
  top: 362px;
  left: 1035px;
  width: 352px;
}
.subtotal2 {
  top: 307px;
  width: 217px;
}
.sum {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 453px;
  left: 566px;
  width: 50px;
  height: 51px;
  background-image: url(./public/sum@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div33,
.sum,
.sum1 {
  position: absolute;
}
.sum1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 703px;
  left: 565px;
  width: 50px;
  height: 51px;
  background-image: url(./public/sum@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div33 {
  top: 712px;
  left: 523px;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.05em;
  text-align: center;
  display: inline-block;
  width: 41px;
  height: 33px;
}
.negative,
.trash {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.negative {
  cursor: pointer;
  padding: 0;
  top: 703px;
  left: 474px;
  width: 54px;
  height: 51px;
  background-image: url(./public/negative@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.trash {
  top: 552px;
  left: 769px;
  width: 36px;
  background-image: url(./public/trash@3x.png);
}
.create,
.trash,
.trash1 {
  cursor: pointer;
  padding: 0;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.create {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 552px;
  left: 800px;
  width: 40px;
  background-image: url(./public/create@3x.png);
}
.trash1 {
  top: 282px;
  left: 769px;
  width: 36px;
  background-image: url(./public/trash@3x.png);
}
.coupon-code,
.create1,
.trash1 {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.create1 {
  cursor: pointer;
  padding: 0;
  top: 282px;
  left: 800px;
  width: 40px;
  height: 25px;
  background-image: url(./public/create@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.coupon-code {
  outline: 0;
  font-weight: 200;
  font-family: var(--font-inter);
  font-size: var(--font-size-13xl);
  top: 878px;
  left: 1038px;
  letter-spacing: 0.05em;
  color: #899499;
  text-align: left;
  display: inline-block;
  width: 357px;
  height: 44px;
}
.loyalty-card-icon2 {
  position: absolute;
  top: 364px;
  left: 1367px;
  width: 53px;
  height: 42px;
  object-fit: cover;
}
.negative1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 453px;
  left: 475px;
  width: 54px;
  height: 51px;
  background-image: url(./public/negative@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-child4 {
  width: 266px;
  position: relative;
  height: 88px;
}
.component-4-child12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background: linear-gradient(269.84deg, #6ac5bc, #8fcda2);
}
.buy16 {
  position: absolute;
  top: 31.25%;
  left: 30%;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.cart3,
.component-415 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.component-415 {
  top: 0;
  left: 440px;
  width: 140px;
  height: 48px;
}
.cart3 {
  top: 10px;
  left: 351px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-royalblue);
  text-align: center;
  display: inline-block;
}
.itranslate-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.search-child,
.search-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 48px;
}
.search-icon3 {
  top: 9px;
  left: 226.5px;
  width: 26.8px;
  height: 30px;
  object-fit: cover;
}
.search,
.search-icon4 {
  position: absolute;
  top: 18.2px;
  left: 25.8px;
  width: 69.1px;
  height: 12px;
}
.search {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1px;
  left: 73px;
  width: 264px;
  height: 48px;
}
.frame28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 337px;
  height: 50px;
  overflow: hidden;
}
.component-4-parent12 {
  width: 580px;
  position: relative;
  height: 50px;
}
.group-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-961xl);
}
.cart-done,
.navbar2 {
  background-color: var(--color-white);
}
.navbar2 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-24xl);
  box-sizing: border-box;
}
.cart-done {
  width: 100%;
  position: relative;
  height: 1549px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
