.check-out-done-child,
.frame-icon {
  position: absolute;
  top: 1089px;
  left: 0;
  width: 1920px;
  height: 460px;
}
.frame-icon {
  top: 0;
  left: 1845.7px;
  width: 88.6px;
  height: 304.3px;
  overflow: hidden;
}
.frame-child1,
.line-22-stroke9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 794px;
  height: 829px;
}
.line-22-stroke9 {
  top: 85px;
  height: 3px;
}
.line-22-stroke10 {
  position: absolute;
  top: 130px;
  left: 57px;
  border-radius: var(--br-xl);
  width: 680px;
  height: 76px;
}
.line-22-stroke11,
.line-22-stroke12,
.line-22-stroke13,
.line-22-stroke14,
.line-22-stroke15 {
  position: absolute;
  top: 221px;
  left: 57px;
  border-radius: var(--br-xl);
  width: 680px;
  height: 76px;
}
.line-22-stroke12,
.line-22-stroke13,
.line-22-stroke14,
.line-22-stroke15 {
  top: 312px;
}
.line-22-stroke13,
.line-22-stroke14,
.line-22-stroke15 {
  top: 405px;
}
.line-22-stroke14,
.line-22-stroke15 {
  top: 557px;
}
.line-22-stroke15 {
  top: 656px;
}
.payment-method1 {
  position: absolute;
  top: 29px;
  left: 229px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 335px;
  height: 44px;
}
.confirm-and-continue1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 675px;
  left: 207px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  width: 379px;
}
.confirm-and-continue1,
.pay-by-card1,
.show-more1 {
  letter-spacing: 0.05em;
  display: inline-block;
  height: 44px;
}
.pay-by-card1 {
  position: absolute;
  top: 498px;
  left: 282px;
  color: var(--color-gray-100);
  width: 230px;
}
.show-more1 {
  top: 421px;
  left: 229px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 335px;
}
.add-new-card1,
.image-41,
.image-42,
.paypal-1,
.show-more1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.add-new-card1 {
  top: 573px;
  left: 229px;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.05em;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 359px;
  height: 44px;
}
.image-41,
.image-42,
.paypal-1 {
  top: 139px;
  left: 277px;
  width: 268px;
  height: 57px;
  background-image: url(./public/paypal-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-41,
.image-42 {
  top: 228px;
  left: 296px;
  width: 229px;
  height: 61px;
  background-image: url(./public/image-41@3x.png);
}
.image-42 {
  top: 312px;
  left: 315px;
  width: 163px;
  height: 78px;
  background-image: url(./public/image-42@3x.png);
}
.forward-icon1 {
  position: absolute;
  top: 677px;
  left: 588px;
  width: 39px;
  height: 34px;
  object-fit: cover;
}
.frame-icon1,
.frame3 {
  position: absolute;
  top: 0;
  left: 806px;
  width: 794px;
  height: 829px;
  overflow: hidden;
}
.frame-icon1 {
  top: 617px;
  left: 0;
  width: 694px;
  height: 3px;
}
.frame5,
.order-review1 {
  position: absolute;
  height: 44px;
}
.order-review1 {
  top: 0;
  left: 236px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 335px;
}
.frame5 {
  top: 29px;
  left: 0;
  width: 571px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.frame6,
.go-rocket-box3 {
  position: absolute;
  height: 47px;
}
.go-rocket-box3 {
  top: 0;
  left: 288px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 391px;
}
.frame6 {
  top: 174px;
  left: 0;
  width: 679px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  font-family: var(--font-istok-web);
}
.div21,
.frame7,
.frame8 {
  position: absolute;
  height: 29px;
}
.div21 {
  top: 0;
  left: 288px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 132px;
}
.frame7,
.frame8 {
  top: 468px;
  left: 0;
  width: 420px;
  overflow: hidden;
}
.frame8 {
  top: 221px;
}
.frame9,
.image-36-icon1 {
  position: absolute;
  height: 211px;
}
.image-36-icon1 {
  top: 0;
  left: 60px;
  width: 185px;
  object-fit: cover;
}
.frame9 {
  top: 140px;
  left: 0;
  width: 245px;
  overflow: hidden;
}
.frame10,
.wonder-ticket3 {
  position: absolute;
  height: 45px;
}
.wonder-ticket3 {
  top: 0;
  left: 288px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 274px;
}
.frame10 {
  top: 423px;
  left: 0;
  width: 562px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  font-family: var(--font-istok-web);
}
.frame11,
.image-34-icon1 {
  position: absolute;
  height: 216px;
}
.image-34-icon1 {
  top: 0;
  left: 60px;
  width: 185px;
  object-fit: cover;
}
.frame11 {
  top: 401px;
  left: 0;
  width: 245px;
  overflow: hidden;
}
.xbox-x {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 546px;
  width: 32px;
  height: 28px;
  background-image: url(./public/xbox-x@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame12 {
  top: 181px;
  left: 0;
  width: 578px;
  overflow: hidden;
}
.frame12,
.frame13,
.xbox-x1 {
  position: absolute;
  height: 28px;
}
.xbox-x1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 534px;
  width: 32px;
  background-image: url(./public/xbox-x@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame13 {
  top: 430px;
  left: 0;
  width: 566px;
  overflow: hidden;
}
.subtotal1 {
  position: absolute;
  top: 0;
  left: 99px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 206px;
  height: 30px;
}
.frame14 {
  top: 641px;
  left: 0;
  width: 305px;
  overflow: hidden;
}
.div23,
.frame14,
.frame15 {
  position: absolute;
  height: 30px;
}
.div23 {
  top: 0;
  left: 488px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 206px;
}
.frame15 {
  top: 641px;
}
.frame15,
.frame16,
.frame17 {
  left: 0;
  width: 694px;
  overflow: hidden;
  text-align: right;
}
.frame16 {
  position: absolute;
  top: 683px;
  height: 30px;
  color: var(--color-olivedrab);
}
.frame17 {
  top: 725px;
}
.frame17,
.frame18,
.voucher-discount1 {
  position: absolute;
  height: 30px;
}
.voucher-discount1 {
  top: 0;
  left: 99px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 226px;
}
.frame18 {
  top: 683px;
  left: 0;
  width: 325px;
  overflow: hidden;
}
.items1 {
  color: var(--color-gray-200);
}
.frame19 {
  position: absolute;
  top: 725px;
  left: 0;
  width: 325px;
  height: 30px;
  overflow: hidden;
}
.loyalty-card-icon1 {
  position: absolute;
  top: 0;
  left: 319px;
  width: 50px;
  height: 40px;
  object-fit: cover;
}
.frame20 {
  position: absolute;
  top: 678px;
  left: 0;
  width: 369px;
  height: 40px;
  overflow: hidden;
}
.frame,
.frame1,
.frame2,
.frame4,
.profile-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 829px;
  overflow: hidden;
}
.frame4 {
  width: 794px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.frame,
.frame1,
.frame2,
.profile-icon1 {
  width: 1600px;
}
.frame,
.frame1,
.profile-icon1 {
  left: 332.3px;
  width: 1934.3px;
}
.frame,
.profile-icon1 {
  top: 176px;
  left: -173.3px;
  width: 2266.6px;
}
.profile-icon1 {
  height: 36.76%;
  width: 3.32%;
  top: 0;
  right: 0.01%;
  bottom: 63.24%;
  left: 96.68%;
  max-width: 100%;
  max-height: 100%;
}
.back-to-store1,
.left-arrow {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.back-to-store1 {
  top: 2px;
  left: 16px;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 19px;
}
.left-arrow {
  top: 0;
  left: 0;
  width: 24px;
  height: 23px;
  background-image: url(./public/left-arrow@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame22,
.frame23,
.frame24,
.frame25 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 158px;
  height: 23px;
  overflow: hidden;
}
.frame22,
.frame23,
.frame24 {
  top: 0;
  height: 34px;
}
.frame22,
.frame23 {
  width: 1625.2px;
}
.frame22 {
  top: 126px;
  left: 61px;
  width: 1798px;
}
.frame-child3 {
  width: 266px;
  position: relative;
  height: 88px;
}
.rectangle-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background: linear-gradient(269.84deg, #6ac5bc, #8fcda2);
}
.buy15,
.component-414,
.rectangle-button {
  position: absolute;
  cursor: pointer;
}
.buy15 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 31.25%;
  left: 30%;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-414 {
  top: 0;
  left: 440px;
  width: 140px;
  height: 48px;
}
.itranslate-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cart1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: 278px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-royalblue);
  text-align: center;
  display: inline-block;
}
.frame26,
.frame27,
.search-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 48px;
}
.frame26,
.frame27 {
  top: 1px;
  left: 73px;
  width: 353px;
  overflow: hidden;
}
.frame26 {
  top: 0;
  left: 0;
  width: 426px;
  height: 50px;
}
.component-4-parent11 {
  width: 580px;
  position: relative;
  height: 50px;
}
.group-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-961xl);
}
.frame21,
.navbar1 {
  position: absolute;
  top: 0;
  width: 1920px;
}
.navbar1 {
  left: calc(50% - 960px);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-24xl);
  box-sizing: border-box;
}
.frame21 {
  left: 0;
  height: 160px;
  overflow: hidden;
}
.check-out-done {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1549px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child24,
.image-37-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 542px;
  height: 310px;
}
.image-37-icon {
  top: 83px;
  left: 28px;
  width: 74px;
  height: 76px;
  object-fit: cover;
}
.vector-parent6,
.wonder-ticket5 {
  position: absolute;
  top: 64px;
  left: 24px;
  width: 542px;
  height: 310px;
}
.wonder-ticket5 {
  top: 153px;
  left: 136px;
  line-height: 24px;
  display: inline-block;
  width: 77px;
  height: 16px;
}
.popup-pay-done-child,
.popup-pay-done-inner,
.popup-pay-done-item {
  position: absolute;
  top: 230px;
  left: 37px;
  width: 508px;
  height: 1px;
  object-fit: contain;
}
.popup-pay-done-inner,
.popup-pay-done-item {
  top: 334px;
}
.popup-pay-done-inner {
  top: 132px;
}
.credit-card-details {
  position: absolute;
  width: calc(100% - 210px);
  top: 76px;
  left: 37px;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-weight: 600;
  color: #ae8c8c;
  display: inline-block;
}
.arrow-icon {
  position: absolute;
  top: 88px;
  left: 528px;
  max-height: 100%;
  width: 25px;
  object-fit: contain;
}
.div34,
.div35,
.div36,
.expand,
.subtotal3,
.total {
  position: absolute;
  top: 190px;
  left: 136px;
  line-height: 24px;
  display: inline-block;
  width: 82px;
  height: 26px;
}
.div34,
.div35,
.div36,
.subtotal3,
.total {
  top: 153px;
  left: 497px;
  width: 61px;
  height: 22px;
}
.div35,
.div36,
.subtotal3,
.total {
  top: 240px;
  left: 62px;
  width: 94px;
  height: 23px;
}
.div35,
.div36,
.total {
  left: 497px;
}
.div36,
.total {
  top: 283px;
  left: 63px;
  font-size: var(--font-size-mini);
  width: 106px;
  height: 38px;
}
.div36 {
  left: 462px;
  font-size: var(--font-size-lg);
}
.box {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
}
.box,
.button,
.text {
  position: absolute;
}
.text {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 10px);
  left: calc(50% - 14px);
  font-size: var(--font-size-base);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.button {
  height: 5.75%;
  width: 90.36%;
  top: 89.39%;
  right: 4.74%;
  bottom: 4.86%;
  left: 4.91%;
  border-radius: var(--br-81xl);
}
.popup-pay-done-child1 {
  position: absolute;
  top: 64px;
  left: 24px;
  border-radius: var(--br-6xl);
  width: 544px;
  height: 310px;
}
.image-60-icon1 {
  position: absolute;
  top: 147px;
  left: 52.1px;
  width: 74.3px;
  height: 76px;
  object-fit: cover;
}
.credit-card-details1 {
  position: absolute;
  width: calc(100% - 210px);
  top: 76px;
  left: 37px;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.box1 {
  position: absolute;
  height: 63.2%;
  width: 100%;
  top: 36.8%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.text1,
.text2 {
  position: absolute;
  line-height: 20px;
}
.text1 {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: 42px;
  left: 16px;
  color: var(--color-silver);
  text-align: left;
}
.text2 {
  top: 0;
  left: 0;
  font-weight: 500;
}
.box2,
.input2 {
  position: absolute;
  height: 21.61%;
  width: 91.87%;
  top: 78.39%;
  right: 6.05%;
  bottom: 0;
  left: 2.08%;
}
.box2 {
  height: 63.09%;
  width: 100%;
  top: 36.91%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.input3,
.input4 {
  position: absolute;
  height: 19.6%;
  width: 94.52%;
  top: 26.22%;
  right: 3.4%;
  bottom: 54.18%;
  left: 2.08%;
}
.input4 {
  height: 21.61%;
  width: 94.71%;
  top: 0;
  bottom: 78.39%;
  left: 1.89%;
}
.card-expirstion {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  color: var(--color-black);
}
.box4,
.line-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.line-icon1 {
  height: 30%;
  width: 60%;
  top: 40%;
  right: 20%;
  bottom: 30%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow {
  top: 14px;
  right: 16px;
  width: 20px;
  height: 20px;
}
.arrow,
.select1,
.year {
  position: absolute;
}
.year {
  top: 14px;
  left: 16px;
  line-height: 20px;
}
.select1 {
  height: 59.76%;
  width: 44.42%;
  top: 40.24%;
  right: 4.16%;
  bottom: 0;
  left: 51.42%;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  overflow: hidden;
}
.arrow1,
.select2 {
  position: absolute;
  top: 14px;
  right: 16.2px;
  width: 20px;
  height: 20px;
}
.select2 {
  height: 60.24%;
  width: 48.62%;
  top: 40.24%;
  right: 49.87%;
  bottom: -0.49%;
  left: 1.51%;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  overflow: hidden;
}
.form,
.select {
  position: absolute;
  left: 0;
}
.select {
  height: 23.63%;
  width: 100%;
  top: 49.28%;
  right: 0;
  bottom: 27.09%;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-silver);
}
.form {
  top: 71px;
  width: 529px;
  height: 347px;
}
.payment-via-card {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: flex;
  align-items: center;
  width: 318px;
  height: 75px;
}
.form-parent {
  position: absolute;
  top: 374px;
  left: 32px;
  width: 529px;
  height: 418px;
  font-size: var(--font-size-sm);
}
.popup-pay-done {
  width: 591px;
  position: relative;
  border-radius: 15px;
  background-color: var(--color-white);
  height: 905px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
