.logo-icon {
  width: 3947px;
  position: absolute;
  margin: 0 !important;
  top: -1214px;
  left: -926px;
  height: 3666.1px;
  z-index: 0;
}
.sign-in-child {
  width: 691px;
  top: 100px;
  left: 988px;
  height: 714px;
  opacity: 0.4;
  z-index: 1;
}
.image-3-icon,
.sign-in-child,
.sign-in-item {
  position: absolute;
  margin: 0 !important;
}
.sign-in-item {
  width: 691px;
  top: 274px;
  left: 1159px;
  height: 714px;
  opacity: 0.4;
  z-index: 2;
}
.image-3-icon {
  width: 717px;
  top: 192px;
  left: 1067px;
  height: 652px;
  object-fit: cover;
  z-index: 3;
}
.rectangle-icon,
.sign-in-inner {
  width: 557.3px;
  margin: 0 !important;
  position: absolute;
  top: 274px;
  left: 222px;
  height: 160.9px;
  z-index: 4;
}
.rectangle-icon {
  width: 742px;
  top: 245px;
  left: 121px;
  height: 644px;
  z-index: 5;
}
.image-5-icon,
.line-1-stroke {
  width: 242px;
  position: relative;
  height: 104.8px;
  object-fit: cover;
}
.line-1-stroke {
  width: 2px;
  height: 56.6px;
  object-fit: contain;
}
.sign-in-icon {
  width: 121.3px;
  position: relative;
  height: 34.2px;
}
.niantic-logo {
  margin: 0 !important;
  position: absolute;
  top: 269px;
  left: 289px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 27px;
  z-index: 6;
}
.sign-in-with-your-account-used {
  width: 557.3px;
  position: absolute;
  margin: 0 !important;
  top: 405.8px;
  left: 220px;
  height: 24.1px;
  z-index: 7;
}
.name-input,
.password-input {
  border: 2px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  width: 598px;
  height: 68px;
  overflow: hidden;
}
.password-input {
  top: 88px;
}
.forgot-password {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 176px;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.frame-child {
  top: 18px;
  left: 0;
  width: 281px;
  height: 1px;
  object-fit: contain;
}
.frame-child,
.frame-item,
.or {
  position: absolute;
}
.or {
  top: 0;
  left: 288px;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.frame-item {
  top: 17px;
  left: 314px;
  width: 281px;
  height: 1px;
  object-fit: contain;
}
.line-parent,
.niantic-child {
  position: absolute;
  top: 220px;
  left: 0;
  width: 595px;
  height: 24px;
}
.niantic-child {
  top: 0;
  width: 593px;
  height: 68px;
}
.niantic-icon,
.sign-in-with-niantic {
  position: absolute;
  top: 28px;
  left: 205px;
  width: 232px;
  height: 20.4px;
}
.niantic-icon {
  top: 13.3px;
  left: 145.8px;
  width: 45.3px;
  height: 41.5px;
  object-fit: cover;
}
.niantic {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 264px;
  left: 0;
  width: 593px;
  height: 68px;
}
.niantic-inc-all {
  position: absolute;
  top: -5px;
  left: -25px;
  letter-spacing: 0.05em;
}
.niantic-inc-all-rights-reser-parent,
.sign-up {
  position: absolute;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-istok-web);
}
.sign-up {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: -9px;
  left: 469px;
  letter-spacing: 0.05em;
  text-align: left;
  display: inline-block;
}
.niantic-inc-all-rights-reser-parent {
  top: 369px;
  left: calc(50% - 257px);
  width: 513px;
  height: 22px;
}
.name-input-parent {
  width: 598px;
  position: absolute;
  margin: 0 !important;
  top: 462px;
  left: 200px;
  height: 366.5px;
  z-index: 8;
}
.sign-in1 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.sign-in-wrapper,
.sign-in1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.sign-in {
  width: 100%;
  position: relative;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
