@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.backround-icon {
  position: absolute;
  top: -1151.6px;
  left: -870px;
  width: 3947px;
  height: 3666.1px;
  object-fit: contain;
}
.logo-icon1,
.sign-up-2-child {
  position: absolute;
  top: 37px;
  left: 74px;
  width: 266px;
  height: 88px;
}
.sign-up-2-child {
  top: 155px;
  left: 748px;
  width: 1098px;
  height: 888px;
}
.niantic-logo-icon {
  width: 429.3px;
  position: relative;
  height: 104.8px;
}
.sign-up-with-your-credentials {
  width: 383px;
  position: relative;
  height: 24.1px;
}
.email-input,
.name-input1 {
  border: 2px solid var(--color-black);
  outline: 0;
  font-family: var(--font-istok-web);
  font-size: var(--font-size-xl);
  background-color: var(--color-white);
  width: 598px;
  position: relative;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  height: 68px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xl) var(--padding-9xl) var(--padding-lgi);
  color: var(--color-gray-300);
}
.email-input {
  padding: var(--padding-xl) var(--padding-10xl) var(--padding-lgi);
}
.sign-up-button-2-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 598px;
  height: 68px;
}
.sign-up-button-2,
.sign-up1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.sign-up1 {
  top: 16.1px;
  left: calc(50% - 72px);
  font-size: var(--font-size-11xl);
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.sign-up-button-2 {
  top: 0;
  left: 0;
  width: 598px;
  height: 68px;
}
.sign-up-button-2:hover {
  cursor: pointer;
  animation: 2s ease 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.sign-up-button-2-wrapper {
  align-self: stretch;
  position: relative;
  height: 68px;
  cursor: pointer;
}
.niantic-inc-all1,
.sign-in2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
}
.sign-in2 {
  left: 462px;
  cursor: pointer;
}
.niantic-inc-all-rights-reser-group {
  width: 513px;
  position: relative;
  height: 22px;
}
.niantic-logo-parent {
  position: absolute;
  top: 200px;
  left: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.sign-up-2 {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-istok-web);
}
